@import "variables";

.editorContainer {
	//background: white;
	padding: 5px;

	.public-DraftEditor-content {
		min-height: 100px;
	}

	.link {
		text-decoration: underline;
		color: blue;
	}

	.alignLeft {
		&, :global(.public-DraftStyleDefault-ltr) { text-align: left; }
	}

	.alignCenter {
		&, :global(.public-DraftStyleDefault-ltr) { text-align: center; }
	}

	.alignRight {
		&, :global(.public-DraftStyleDefault-ltr) { text-align: right; }
	}

	.alignJustify {
		&, :global(.public-DraftStyleDefault-ltr) { text-align: justify; }
	}
}

